<head>
    <style>
        #frame{
            height:540px; 
            width:960px;
            border-style:solid; 
            border-color: black; 
            border-width: 1px;
            top: 0;
            left: 0;
            bottom: 0;
            top: 0;
            background-color: rgb(124, 252, 0);

        }
    </style>
    </head>
    <body >
        <canvas id="frame" height="1080" width="1920"></canvas>
        <script src="/socket.io/socket.io.js"></script>
        <script type="module" src="game.js"></script>
        
        
    </body>